
header{
    position: fixed;
    width: 100%;
    top:0;
    z-index: 999;
    height: 50px;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1em;
    margin:0;
    padding: 0;
}


@media (min-width: 980px) {

    #box_logo {
        width: 70px;
        height: 70px;
    
    }
    
    .activeLink{
        background-color: red;
        color: black;
        border-radius: 10%;
    }
    
    .box_nav{
        position: relative;
    
    }
    
    #box_nav1 {
        position: relative;
        left: 1%;
        top: 2%;
        margin: 10px;
        padding: 10px 5px;
        text-align: right;
        font-family: "Montserrat",sans-serif;
        text-decoration: none;
        color:burlywood;
    }
    
    #social {
       
        width: 40px;
        height: 40px;
        
        z-index: 10;
        border-radius: 50%;
        margin: 10px;
    }
    
    .social_1 {
        position: relative;
        left: 68%;
    }

}