.adminlogin{
   background-image: url("../image/admin.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.adminlogin2{
   background: transparent;
   width: 400px;
   height: 450px;
   position: absolute;
   left: 38%;
   top: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   backdrop-filter: blur(20px);
   border-radius: 20px;
}

.adminlogin2 h1{
   color: white;
   position: absolute;
   top: -20px;
}

.login{
    background: transparent;
    width: 400px;
    height: 450px;
    position: absolute;
    left: 38%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(7px);
    border-radius: 20px;
    
}



.input_box{
    position: relative;
    align-self: flex-start;
    width: 200px;
    top: 20px;
    left: -10px;
    margin: 60px;
   

    border-bottom: 2px solid #fff;
}


.input_box label {
    position: absolute;
    top: -95%;
    color: aliceblue;
    font-size: 13.5pt;
}

.input_box input{
    width: 100%;
    background: transparent;
    border:none;
    outline:none;
 
 }

 .login_button  {
    background-color: black;
    position: absolute;
    top: 110%;
    left: 50px;
    color:#fff;
    width: 100px;
 }

 form {
   position: absolute;
   left: 30px;
   bottom: 45%;
 }
 
 .login_input{
    color:#fff;
 }

 a {
    color: #fff;
    align-self: last baseline;
    position: absolute;
    top: 85%;
    right: 5px;
    text-decoration: none;
 }

.login h1{
    color:burlywood;
    position: absolute;
    top: -20px;


 }

 .alert{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 300px;
    position: absolute;
    top: 30px;

 }


 .btn-close{
    width: 8px;
    height: 8px;
    position: absolute;
    margin-top: -6px;
 }


span{

    color: white;
    position: relative;
    top: 10px

 } 


.hide{
display: flex;
flex-direction: row;
 }

#labelp{
   position: absolute;
   top: -15px;
}

.login_inputp{
   color:white;
   position: relative;
   top: 10px;
}