#label_image{
    top:-30px;
}

.Reg_body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
     
}
.registration{
    background: transparent;
    width: 500px;
    height: 880px;
    position: absolute;
    left: 34%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(7px);
    border-radius: 20px;
    
}


h1{
    color:aliceblue;
    position: absolute;
    align-self: center;
    top:10px;
}

hr {
    width: 350px;
    height: 200px;
    color: rgb(248, 188, 7);
    position: absolute;
    align-self: center;
    top:60px;

}

.input_box{
    position: relative;
    align-self: flex-start;
    width: 200px;
    top: 25px;
    left: 110px;
    margin: 50px;
    margin-top: 40px;
    border-bottom: 2px solid #fff;
}


.input_box label {
    position: absolute;
    left: -100px;
    color: aliceblue;
    font-size: 13.5pt;
}

.input_box input{
    width: 100%;
    background: transparent;
    border:none;
    outline:none;
 
 }

 .regis_button  {
    background-color: black;
    position: absolute;
    top: 100%;
    left: 80px;
    color:#fff;
    width: 300px;
 }

 form {
   position: absolute;
   left: 30px;
   bottom: 20%;
 }
 
 .login_input{
    color:#fff;
 }

form button {
  width: 300px;
  position: absolute;
  left: 80px;
  top: 700px;
  background-color: black;
  
}

form a {
    text-decoration: none;
    color: white;
  

}

.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 300px;
    position: absolute;
    top: 80px;
    left: 95px;

 }


 .btn-close{
    width: 8px;
    height: 8px;
    position: absolute;
    margin-top: -6px;
 }